@import "./reset.css";
@import "./bootstrap.min.css";
@import "./bootstrap-card.css";
@import "./prism.css";
@import "./ionicons.min.css";
@import "./compodoc.css";
@import "./tablesort.css";

.panel pre[class*="language-"] {
    margin: 0;
    border-radius: 0;
}
.panel.docs {
    margin: 20px 0;
}
.content-data div.links {
    position: fixed;
}
.content-data div.links li {
    padding-bottom: 8px;
}
.content-data div.links a {
    text-decoration: none;
    color: #333;
}
